*{
    padding: 0;
    margin: 0;
}
body{
    
}

/** shared style  */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-weight: 800;
    font-size: 45px;

}
.color-orange{
    color: #FD6E0A;
}

.btn{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    border-radius: 5%;
    border-style: none;
    padding: 18px 35px;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}